.navbar-nav{
    gap: 20px
    ;
}
.container{
 margin-bottom: 40px;
}

.button{
    padding: 12px 28px;
    border-radius: 33px;
    align-items: center;
}
.col-md-6 img{
    width: 100%;
}
.row{
    margin:30px;
}
.btn{
    background-color: #21B573;
    padding: 12px 28px;
    border: none;
    border-radius: 33px;
    color: white;
    font-weight: 300;
}
.col{
    width: 270px;
    height: 270px;
    border:none;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 10px 10px 20px lightgray;
    padding: 60px;
    background-color: #F8FFFB;
    text-align: center;
}
.col img{
    width: 66px;
    height: 85px;
    margin-bottom: 40px;
   

}
.col2{
    background-color: #FFFFFF;
}
.btn1{
    padding: 8px 28px;
}
.col-md-4{
    height: 450px;
    border: none;
    box-shadow: 4px 4px 10px lightgray;
    border-radius: 18px;
    margin-bottom: 50px;

}
.col-md-4 img{
    width: 95%;
    height: 234px;
    margin: 25px 10px;
}
.right{
   margin-left: 10px;
   margin-bottom: 25px;
}
.footer1 img{
    width: 24px;
    height: 24px;
    margin-top: 0px;
}
.courses{
    margin-bottom: 50px;
}
.my{
    border: none;
    box-shadow: none;
    width: 130px;
    height: 130px;
    

}
.col8{
    width: 580px;
    height: 90px;
}
.my img{
    width: 120px;
    height: 120px;
}
.gap{
    gap: 40px;
}
.colla{
    box-shadow: none;

}
.last{
    background-color: #282531;
    color: #F8FFFB;
}
.gap2{
    gap: 90px;
}
.footerr{
    background-color: #282531;
    color: #F8FFFB;
    margin-top: 0%;
}

